<div class="compact">
	<div class="hrule"></div>
	<h4 class="clearFloat" style="margin-top:15px;">Clear 5X Friday Teams</h4>
    <div>
      <button ng-click="clearTeams()" type="button" class="button small">Submit</button>
    </div>

	<h4 ng-show="fiveXResetComplete">Success!</h4>
    <div class="hrule"></div>
    <h4 class="clearFloat" style="margin-top:15px;">Remove New Members > 30 Days</h4>
    <div>
      <button ng-click="removeNewMembers()" type="button" class="button small">Submit</button>
    </div>

	<h4 ng-show="newMemResetComplete">Success!</h4>
    <div class="hrule"></div>
</div>

