<div class="leftColumn">
	<h5>Announcements</h5>
</div>
<div class="fixed content">
	<div class="topic">
		<h4>August 19, 2014</h4>
		<h4>Member Vote on modifications to the OFF Membership Acceptance Policy</h4>
		<p>One of the members, EvilNonsense, brought up in a prior thread that we might want to consider putting a hold on membership, at least temporarily.  The Staff and BoD thought that it was an idea worth considering and discussing.  We are now at 180 members and new people are joining every day.  The Board and Staff went back and forth on this and we think that, at the very least, it should be put to a membership vote.  There are some plusses to this, in that it will allow us to get familiar with some of the newer members, while not feeling the pressure to platoon with "the new guy".  Conversely, it changes our general policy to welcome all comers that meet our criteria.  This is the membership’s clan, and you should have say in how it moves forward, especially with these larger issues that can result in a change of direction.</p>
		<p>This poll will be open for 5 days and all membership applications will be put on hold until members, both Sr. and Jr. vote.  The final decision will be binding and will be implemented immediately after the closing.</p>
		<p>We want to thank you for all of your support for the Clan and look forward to continuing to have fun and kill tanks.</p>
		<p><a href="http://wotoff.createaforum.com/polls-nominations-volunteering/member-vote-on-modifications-to-the-off-mebership-acceptance-policy/new/?topicseen#new">Go to topic</a><p/>
	</div>
</div>
