<div class="leftColumn">
	<h5>Contribute</h5>
	<p>Certain edit features require authorization. Send a PM to SmokeyFiber163 in the OFF Forum for edit requests or other help.</p>
	<p><a href="http://supportdetails.com/">Support</a></p>
</div>
<div class="fixed content" ui-view>
	<h3>This website needs your help!</h3>
	<p>This main purpose of this website is to simply organize information in a way that's not possible using only the forum, including the vast amount of knowledge about playing WoT our members have.  Your contributions will make this a valuable resource for all members.</p>
	<div class="alternatingBlockA">
		<h4>Reference</h4>
		<p>The Reference section is a collection of links to web sites, videos, documents, etc. about WoT.  Contribute you favorite links and other information in the 'Website Suggestions' Board in the OFF Forum.</p>
	</div>
	<div class="alternatingBlockB">
		<h4>Maps POI (Point of Interest)</h4>
		<p>Anybody can get stuck in a rut following the same routine and holding the same position over and over again on a map.  The purpose of the Maps POI section is to share your strategy and try new positions. Send a PM to SmokeyFiber163 in the OFF Forum for permission to edit the maps.</p>
	</div>
	<div class="alternatingBlockA">
		<h4>Platoon/Clan Strategy</h4>
	<p>This section is a way to coordinate your strategy in platoons or clans.  Send a PM to SmokeyFiber163 in the OFF Forum for permission to edit strategies.</p>
	</div>
	
</div>
