<div class="leftColumnHome">
	<div><img src="images/homepagesmall.jpg"></div>
	<div><img src="images/seekstrikedestroy.jpg"></div>
</div>
<div class="contenthome">
	<div class="twitterContainer">
		<p>OFF Tweets</p>
		<div twitter-timeline="514405129252913153" auto-resize="false" height="400" width="400" css-url="styles/twitter.css" data-tweet-limit="5">Loading tweets...</div>
	</div>
	<div class="twitterContainer">
		<p>Wot Xbox Tweets</p>
		<div class="twitterContainer" twitter-timeline="514406310389895169" auto-resize="false" height="400" width="400" css-url="styles/twitter.css" data-tweet-limit="5">Loading tweets...</div>
	</div>
</div>

