<div class="leftColumnHome">
	<div><img src="images/homepagesmall.jpg"></div>
	<div><img src="images/seekstrikedestroy.jpg"></div>
</div>
<div class="contenthome">
	<h2>Welcome OFF Members!</h2>
	<p>This is your website. Please contribute so it remains current and helpful to all members.</p>
	<h5>New Members</h5>
	<p>Our newest members from the past 30 days. Invite them to platoon and make them feel welcome.</p>
	<h5>Platoon Matching</h5>
	<p>Unfortunantly we can't Friend the entire membership, so use this tool to find members who are likely to be online and playing the same time as you.</p>
	<h5>Reference</h5>
	<p>Be a better tanker. A list of resources for learning the game. Contribute your favorite.</p>
	<h5>Maps POI</h5>
	<p>Use this tool while playing World of Tanks.  Check it out!</p>
	<h5>Admin</h5>
	<p>Share your expertise.</p>


</div>

