
	<div class="leftColumn">  
		<h5>Select Map</h5>
		<select id="selectMap" ng-model="selectedMap" ng-options="c.label for c in mapList" ng-change="selectMap(selectedMap)" ></select>
		<div class="radioGroup">
			<p><input type="checkbox" ng-model="showHeavy" ng-change="filterMapLayers()">  Heavy</p>
			<p><input type="checkbox" ng-model="showMedium" ng-change="filterMapLayers()">  Medium</p>
			<p><input type="checkbox" ng-model="showLight" ng-change="filterMapLayers()">  Light</p>
			<p><input type="checkbox" ng-model="showDestroyer" ng-change="filterMapLayers()">  TD</p>
  			<p><input type="checkbox" ng-model="showArty" ng-change="filterMapLayers()">  Arty</p>
  			<p><input type="checkbox" ng-model="showDanger" ng-change="filterMapLayers()">  Danger</p>
		</div>
		

		<div class="submitForm" ng-show="canEdit">
			<p class="smallNote" ng-show="formstate.visible">Choose spawn location and object type then click on the map to draw.</p>
			<select id="selectSpawn" ng-model="selectedSpawn" ng-options="c.label for c in spawnLocationList" ng-change="selectSpawnType(selectedSpawn)" ng-show="formstate.visible"></select>
			<select id="selectType" ng-model="selectedType" ng-options="c.label for c in drawTypeList" ng-change="selectDrawType(selectedType)" ng-show="formstate.visible"></select>
			<button id="addMarker" ng-click="saveMarker()" type="button" class="button small" ng-show="formstate.role=='saveMarker'">Save</button>
			<button id="reject" ng-click="rejectForm()" type="button" class="button small" ng-show="formstate.role=='saveMarker'">Reject</button>
			<button id="cancelForm" ng-click="cancelForm()" type="button" class="button small" ng-show="formstate.role=='placeMarker'">Cancel</button>
			<button id="showform" ng-click="showForm()" type="button" class="button small" ng-show="!formstate.visible && formstate.role!='deleteMarker'">Add Marker</button>
			<button id="delete" ng-click="deleteMarker()" type="button" class="button small alert" ng-show="formstate.role=='deleteMarker'">Delete</button>
			<button id="savePath" ng-click="savePath()" type="button" class="button small" ng-show="formstate.role=='createPath'">Save Path</button>
			<button id="canceldelete" ng-click="cancelDelete()" type="button" class="button small" ng-show="formstate.role=='deleteMarker'">Cancel</button>
			<button id="cancelPath" ng-click="cancelPath()" type="button" class="button small" ng-show="formstate.role=='createPath'">Cancel Path</button>
			<p class="smallNote" ng-show="formstate.role=='createPath'">Click along path route.  Click 'Save' when complete.</p>
		</div>
	</div>

	<div kinetic-canvas class="canvasContainer" formstate="formstate" is-editable="yes" id="idforkinetic"></div>


	<div class="mapNotes" ng-show="selectedMap.value=='abbey'">
		<h1>Abbey Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div abby-comments></div>
	</div>
	
	<div class="mapNotes" ng-show="selectedMap.value=='cliff'">
		<h1>Cliff Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div cliff-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='cliff_e'">
		<h1>Cliff Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div cliff-encounter-comments></div>
	</div>
	
	<div class="mapNotes" ng-show="selectedMap.value=='hallouf'">
		<h1>El Hallouf Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div elhalluf-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='hallouf_e'">
		<h1>El Hallouf Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div elhalluf-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='ensk'">
		<h1>Ensk Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div ensk-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='ensk_e'">
		<h1>Ensk Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div ensk-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='erlenberg'">
		<h1>Erlenberg Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div erlenberg-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='erlenberg_e'">
		<h1>Erlenberg Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div erlenberg-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='erlenberg_a'">
		<h1>Erlenberg Assault Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div erlenberg-assault-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='fish'">
		<h1>Fisherman's Bay Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div fishbay-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='fish_e'">
		<h1>Fisherman's Bay Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div fishbay-encounter-comments></div>
	</div>
	
	<div class="mapNotes" ng-show="selectedMap.value=='himmelsdorf'">
		<h1>Himmelsdorf Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div himmelsdorf-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='himmelsdorf_e'">
		<h1>Himmelsdorf Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div himmelsdorf-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='karelia'">
		<h1>Karelia</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div karelia-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='komarin'">
		<h1>Komarin Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div komarin-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='lakeville'">
		<h1>Lakeville Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div lakeville-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='lakeville_e'">
		<h1>Lakeville Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div lakeville-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='oaks'">
		<h1>Live Oaks Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div liveoak-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='malinovka'">
		<h1>Malinovka Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div malinovka-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='malinovka_e'">
		<h1>Malinovka Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div malinovka-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='malinovka_a'">
		<h1>Malivnoka Assault Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div malinovka-assault-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='mines'">
		<h1>Mines Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div mines-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='mines_e'">
		<h1>Mines Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div mines-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='mountain'">
		<h1>Mountain Pass Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div mountainpass-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='mountain_e'">
		<h1>Mountain Pass Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div mountainpass-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='murovanka'">
		<h1>Murovanka</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div murovanka-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='murovanka_e'">
		<h1>Murovanka Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div murovanka-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='port'">
		<h1>Port Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div port-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='prokhorovka'">
		<h1>Prokhorovka Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div prokhorovka-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='prokhorovka_e'">
		<h1>Prokhorovka Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div prokhorovka-encounter-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='province'">
		<h1>Province Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div province-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='redshire'">
		<h1>Redshire Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div redshire-comments></div>
	</div>

	<div class="mapNotes" ng-show="selectedMap.value=='redshire_e'">
		<h1>Redshire Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div redshire-encounter-comments></div>
	</div>
	
	<div class="mapNotes" ng-show="selectedMap.value=='siegfried'">
		<h1>Siegfried Line Standard Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div siegfried-comments></div>
	</div>
	<div class="mapNotes" ng-show="selectedMap.value=='siegfried_a'">
		<h1>Siegfried Line Assault Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div siegfried-assault-comments></div>
	</div>
	<div class="mapNotes" ng-show="selectedMap.value=='siegfried_e'">
		<h1>Siegfried Line Encounter Battle</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div siegfried-encounter-comments></div>
	</div>