
	<div class="leftColumn">  
		<h5>Select Map</h5>
		<select id="selectMap" ng-model="selectedMap" ng-options="c.label for c in mapList" ng-change="selectMap(selectedMap)" ></select>
		<div class="radioGroup">
			<p><input type="checkbox" ng-model="showHeavy" ng-change="filterMapLayers()">  Heavy</p>
			<p><input type="checkbox" ng-model="showMedium" ng-change="filterMapLayers()">  Medium</p>
			<p><input type="checkbox" ng-model="showLight" ng-change="filterMapLayers()">  Light</p>
			<p><input type="checkbox" ng-model="showDestroyer" ng-change="filterMapLayers()">  TD</p>
  			<p><input type="checkbox" ng-model="showArty" ng-change="filterMapLayers()">  Arty</p>
  			<p><input type="checkbox" ng-model="showDanger" ng-change="filterMapLayers()">  Danger</p>
		</div>
		<button id="editBtn" ng-click="clickEditBtn()" type="button" class="button small" ng-show=canEdit>Edit Map</button>
	</div>

	<div kinetic-canvas class="canvasContainer" formstate="formstate" is-editable="no" id="myCanvas"></div>

	<!-- Directives are in mapComments.js -->
	<div class="mapNotes">
		<h1>{{selectedMap.label}}</h1>
		<p class="attention">Share your expertise! See the Contribute tab for more information.</p>
		<div abby-comments ng-show="selectedMap.value=='abbey'"></div>
		<div arctic-standard-comments ng-show="selectedMap.value=='arctic'"></div>
		<div cliff-comments ng-show="selectedMap.value=='cliff'"></div>
		<div cliff-encounter-comments ng-show="selectedMap.value=='cliff_e'"></div>
		<div elhalluf-comments ng-show="selectedMap.value=='hallouf'"></div>
		<div elhalluf-encounter-comments ng-show="selectedMap.value=='hallouf_e'"></div>
		<div ensk-comments ng-show="selectedMap.value=='ensk'"></div>
		<div ensk-encounter-comments ng-show="selectedMap.value=='ensk_e'"></div>
		<div erlenberg-comments ng-show="selectedMap.value=='erlenberg'"></div>
		<div erlenberg-encounter-comments ng-show="selectedMap.value=='erlenberg_e'"></div>
		<div erlenberg-assault-comments ng-show="selectedMap.value=='erlenberg_a'"></div>
		<div fishbay-comments ng-show="selectedMap.value=='fish'"></div>
		<div fishbay-encounter-comments ng-show="selectedMap.value=='fish_e'"></div>
		<div himmelsdorf-comments ng-show="selectedMap.value=='himmelsdorf'"></div>
		<div himmelsdorf-encounter-comments ng-show="selectedMap.value=='himmelsdorf_e'"></div>
		<div karelia-comments ng-show="selectedMap.value=='karelia'"></div>
		<div karelia-assault-comments ng-show="selectedMap.value=='karelia_a'"></div>
		<div karelia-encounter-comments ng-show="selectedMap.value=='karelia_e'"></div>
		<div komarin-comments ng-show="selectedMap.value=='komarin'"></div>
		<div lakeville-comments ng-show="selectedMap.value=='lakeville'"></div>
		<div lakeville-encounter-comments ng-show="selectedMap.value=='lakeville_e'"></div>
		<div liveoak-comments ng-show="selectedMap.value=='oaks'"></div>
		<div malinovka-comments ng-show="selectedMap.value=='malinovka'"></div>
		<div malinovka-encounter-comments ng-show="selectedMap.value=='malinovka_e'"></div>
		<div malinovka-assault-comments ng-show="selectedMap.value=='malinovka_a'"></div>
		<div mines-comments ng-show="selectedMap.value=='mines'"></div>
		<div mines-encounter-comments ng-show="selectedMap.value=='mines_e'"></div>
		<div mountainpass-comments ng-show="selectedMap.value=='mountain'"></div>
		<div mountainpass-encounter-comments ng-show="selectedMap.value=='mountain_e'"></div>
		<div murovanka-comments ng-show="selectedMap.value=='murovanka'"></div>
		<div murovanka-encounter-comments ng-show="selectedMap.value=='murovanka_e'"></div>
		<div port-comments ng-show="selectedMap.value=='port'"></div>
		<div prokhorovka-comments ng-show="selectedMap.value=='prokhorovka'"></div>
		<div prokhorovka-encounter-comments ng-show="selectedMap.value=='prokhorovka_e'"></div>
		<div province-comments ng-show="selectedMap.value=='province'"></div>
		<div redshire-comments ng-show="selectedMap.value=='redshire'"></div>
		<div redshire-encounter-comments ng-show="selectedMap.value=='redshire_e'"></div>
		<div siegfried-comments ng-show="selectedMap.value=='siegfried'"></div>
		<div siegfried-assault-comments ng-show="selectedMap.value=='siegfried_a'"></div>
		<div siegfried-encounter-comments ng-show="selectedMap.value=='siegfried_e'"></div>
		<div westfield-standard-comments ng-show="selectedMap.value=='westfield'"></div>
		<div widepark-encounter-comments ng-show="selectedMap.value=='widepark_e'"></div>
	</div>

	