<div class="leftColumn">
	<h5>New Members</h5>
	<div><img src="images/join.jpg"></div>
</div>
<div class="content">	
	<h4>Welcome to OFF!</h4>
	<table st-table="newMemberData" class="table table-striped">
	<thead>
	<tr>
		<th>First Name</th>
		<th>XBL Gamertag</th>
		<th>Home</th>
		<th>Age</th>
		<th>Tier Lo</th>
		<th>Tier Hi</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in newMemberData">
		<td>{{row.member}}</td>
		<td>{{row.gamertag}}</td>
		<td>{{row.residence}}</td>
		<td>{{row.age}}</td>
		<td>{{row.lowtier}}</td>
		<td>{{row.hitier}}</td>
	</tr>
	</tbody>
</table>
</div>
