<div class="leftColumn">
	<h5>New Members</h5>
	<div><img src="images/join.jpg"></div>
</div>
<div class="content">	
	<!-- <div class="gridStyle" ng-grid="newMemberGrid"></div>	 -->
	<table st-table="newMemberData" class="table table-striped">
	<thead>
	<tr>
		<th>First Name</th>
		<th>Gamertag</th>
		<th>Base</th>
		<th>Age</th>
		<th>Tier Lo</th>
		<th>Tier Hi</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in newMemberData">
		<td>{{row.name}}</td>
		<td>{{row.gamertag}}</td>
		<td>{{row.base}}</td>
		<td>{{row.age}}</td>
		<td>{{row.lowtier}}</td>
		<td>{{row.hitier}}</td>
	</tr>
	</tbody>
</table>
</div>
