<h4>Tips and Guides</h4>
<div class="hilite">Contact Admin to add your own favorite tips.</div>
<div class="refList">
	<h2>Tips, Guides &amp; Tutorials</h2>
	<p><a href="../docs/WoT-Primer.pdf" target="_blank">Beginners Primer (PDF) - Submitted by Cernig10</a>.</p>
	<p><a href="http://www.worldoftanksguide.com/combat-scouting-guide.shtml" target="_blank">Scouting Guide - Submitted by SmokyFiber163</a></p>
	<p><a href="http://forum.worldoftanks.com/index.php?/topic/60376-5-tricks-ive-learned-in-5000-games/" target="_blank">Five Tricks I've Learned in 5,000 Games - Submitted by Cernig10</a></p>
	<p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/47986-frogmans-guide-to-silver-in-world-of-tanks/page__p__760245/" target="_blank">Frogman's Guide to Silver in World of Tanks - Submitted by oxidative stres</a></p>
	<p><a href="http://www.worldoftankstactics.com/page9/index.html" target="_blank">Wolfpack Theory - Submitted by HotDog Diggety</a><p>
	
	<h2>Mechanics, Comparisons &amp; Analyzers</h2>	
	<p><a href="http://www.worldoftanksguide.com/cgi-bin/tank_analyzer.cgi/" target="_blank">Tanks Weak Spot Analyzer - Submitted by Cernig10</a></p>
	<p><a href="http://forum.worldoftanks.com/index.php?/topic/49967-for-people-that-would-like-to-learn-frontal-tank-weakspots/" target="_blank">Frontal Tank Weakspots - Submitted by Sparky74</a><p>
	<p><a href="http://tank-compare.com/en/" target="_blank">Vehicle Comparison Analyzer - Submitted by Cernig10</a>.</p>
	<p><a href="https://www.youtube.com/watch?v=5ML4oXjG6ag" target="_blank">Explaining Mechanics - Camoflage (Video)</a></p>
	<p><a href="https://www.youtube.com/watch?v=wq5S8CrsUig" target="_blank">Explaining Mechanics - Penetration (Video)</a><p>

</div>
