<div class="leftColumn">
	<h5>Reference</h5>
	<ul>
	  <li style=""><a style="" ui-sref=".xbox">Web Sites</a></li>
	  <li><a ui-sref=".utube">YouTube</a></li>
	   <li><a ui-sref=".strategy">Tips and Guides</a></li>
	  <li><a ui-sref=".equipment">Equipment</a></li>
	  <li><a ui-sref=".perks">Skills and Perks</a></li>
	  <li><a ui-sref=".maps">Map Strategy</a></li>
	</ul>
	<div><img src="images/tak.jpg"></div>
</div>
<div class="fixed content" ui-view>
		<h2>Knowing is Half the Battle</h2>
		<img src="images/tankid.jpg">
</div>
