<h4>Web Sites Dedicated to World of Tanks</h4>
<div class="hilite">Contact Admin to add your favorite websites.</div>
<div class="refList">
	<p><a href="http://worldoftanksxbox360edition.com/" target="_blank">Official World of Tanks for XBOX</a></p>
	<p><a href="http://wotguru.com/" target="_blank">World of Tanks Guru</a></p>
	<p><a href="http://www.worldoftanksguide.com/" target="_blank">WOT Unofficial Game Site</a></p>
	<p><a href="http://www.wotinfo.net/en/" target="_blank">WOTINFO.NET</a></p>
	<p><a href="http://www.worldoftankstactics.com/index.html" target="_blank">World of Tanks Tectics</a></p>
</div>

