<h4>Skills and Perks</h4>
<div class="hilite">Contact Admin to add your own favorite references.</div>
<div class="refList">
	<p><a href="http://worldoftanks.com/en/content/guide/general/guide-how-use-perks-and-skills/" target="_blank">How To Use Perks &amp; Skills - Submitted by Cernig10</a>.</p>
	<p><a href="http://www.wotinfo.net/en/noobcorner?article=skills_and_perks/" target="_blank">WOTLABS.NET Crew Skills and Perks</a>.</p>
	<p><a href="http://wotlabs.net/articles/crew-skills-perks-unicum/" target="_blank">WOTLABS.NET Skill and Perks Guide</a>.</p>
	<p><a href="https://www.youtube.com/watch?v=v85-1v7a8vA" target="_blank">Sixth Sense Perk in Action</a>.</p>
	<p><a href="https://www.youtube.com/watch?v=aNcgdOiL1zU" target="_blank">Eagle Eye Perk in Action</a>.</p>
</div>
