<h4>YouTube</h4>
<div class="hilite">Contact Admin to add your favorite YouTube Channels.</div>
<div class="refList">
	<p>YouTube Channels that feature World of Tanks tutorials and game play.</br>
	<a href="https://www.youtube.com/channel/UCaZcMmmw4-JTnhtG8swnwoQ" target="_blank">World of Tanks: Xbox 360 Edition</a></br>
	<a href="https://www.youtube.com/channel/UCpnjlvS2zxhbNJuGNo_TxkQ" target="_blank">BohemianEagle (Jingles)</a></br>
	<a href="https://www.youtube.com/channel/UCGcjPUQe6jMVlGmNK0-1JkQ" target="_blank">Capt Canada</a></br>
	<a href="https://www.youtube.com/playlist?list=PLmLZ3vkSFgNak2h2opmhW6VYSMyKR0PcY" target="_blank">Science of Victory</a></br>
	<a href="https://www.youtube.com/playlist?list=PLTKorPNtU6-lrjJEmWzIJlwTzjTGJ9nml" target="_blank">SideStrafe</a></br>
	<a href="https://www.youtube.com/channel/UC9B-RQXS55bly7OCd8Jwg6A" target="_blank">joeteegee</a></p>
</div>
