<div class="leftColumn">
	<h5>Time Zone</h5>
	<select id="selectZone" ng-model="selectedZone" ng-options="c.label for c in zoneList" ng-change="selectZone(selectedZone)" ></select>
	<button type="button" class="button small"  ng-click="resetTable()" ng-show="searchResultsDisplay">Reset</button>
	<button ng-click="showEventsOnly()" ng-show="!formActive" type="button" class="button small">Events Only</button>
	<button ng-click="showSearchForm()" ng-show="!formActive" type="button" class="button small">Search</button>
	<!-- <div class="smallNote" ng-show="!formActive">Use Add to include your own online WOT availability.</div> -->
	<div class="submitForm" ng-show="searchActive">
		<h5>Search</h5>
		<div class="attention">Select your local time zone above</div>
		<form name="searchSchedule" ng-submit="submitSearchForm()">
			<label>Start time</label>
			<select id="selectBegin" ng-model="selectedBegin" ng-options="c.clock for c in timeList" ng-change="selectBegin(selectedBegin)" required></select>
			<button type="submit" class="button small">Submit</button>
			<button type="button" class="button small"  ng-click="hideForm()">Cancel</button>
		</form>
	</div>
	<div>
		<p>When you select a Time Zone, all of the begin and end times for all members are transposed to that zone.</p>
		<!-- <p>For Time Zones to listed convert to UTC (Greenwich Mean Time). <a href="http://www.timeanddate.com/worldclock/converter.html"></a>Conversion Calculator</p> -->
		<p>Contact Admin if you need to change your listing.</p>
	</div>
<div><img src="images/treat-em-rough-us-tank-corps.jpg"></div>
</div>

<div class=" content timeline">
	<h4>{{selectedZoneDescription}}<h4/>
	<p ng-show="searchResultsDisplay && displayType=='ALL'">Tankers who might be online at {{searchTimeDisplay}}</p>
	<p ng-show="!searchResultsDisplay && displayType=='ALL'">XBL Schedule for all Registered Members ({{regMemberCount}}) and Events</p>
	<p ng-show="searchResultsDisplay && displayType=='EVENTS'">XBL Schedule for all Events Only</p>
	
	<table st-table="currentTablePage" class="table table-striped" style="width:700px;">
		<thead>
			<tr>
				<th>XBL Gamertag</th>
				<th>Begin Time</th>
				<th>End Time</th>
				<th>Tier Low</th>
				<th>Tier High</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in currentTablePage">
				<td>{{row.member}}</td>
				<td>{{row.beg}}</td>
				<td>{{row.end}}</td>
				<td>{{row.tier_low}}</td>
				<td>{{row.tier_high}}</td>
			</tr>
		</tbody>
	</table>
	<div class="tableBtnRow">
		<button type="button" class="button small"  ng-click="showPreviousPage()" ng-disabled="prevBtnDisabled">Prev</button>
		<button type="button" class="button small"  ng-click="showNextPage()"  ng-disabled="nextBtnDisabled">Next</button>
	</div>
		
</div>