<h4>Tips and Guides</h4>

<div class="refList">
	<button type="button" class="button tiny" ng-click="linkView='general'">General</button>
    <div class="indent compact" ng-show="linkView=='general'">
    	<p><a href="../docs/WoT-Primer.pdf" target="_blank">Beginners Primer (PDF)</a></p>
        <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/60589-icesevs-general-guide-to-tanking-please-look-over-and-give-suggestions-on-how-to-improve/" target="_blank">General Guide To Tanking</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/387795-wottiquette/" target="_blank">Wottiquette - Every tanker should read!</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/286046-combat-briefing-for-the-new-player-aka-what-to-expect-from-wot/" target="_blank">Combat Briefing</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/98891-lerts-easy-tips-for-beginners/" target="_blank">Easy Tips for Beginners</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/159638-lerts-thread-of-duh-or-mspaint-schematics-explaining-gameplay-basics/" target="_blank">Basic Gameplay - Where should I shoot?</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/186433-lerts-simple-guide-to-becoming-a-better-player/" target="_blank">Becomming a Better Player</a></p>
       
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/60376-5-tricks-ive-learned-in-5000-games/" target="_blank">5 Tricks I've Learned in 5,000 Games</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/204215-psa-what-not-to-do-when-someone-is-sitting-in-a-bush/" target="_blank">What not to do when someone is sitting in a bush</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/276797-how-to-control-your-win-rate/" target="_blank">How to Control your Win Rate</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/227903-the-ruthless-math-of-wot-and-why-every-tank-matters/" target="_blank">Why Every Tank Matters</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/389980-want-to-win-more-the-first-30-seconds/" target="_blank">The First 30 Seconds</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/395878-want-to-win-more-the-3-phases-of-a-battle/" target="_blank">The Three Phases of a Battle</a></p>
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='strategy'">Strategy</button>
    <div class="indent" ng-show="linkView=='strategy'">
    	
        <p><a href="http://www.worldoftankstactics.com/page9/index.html" target="_blank">Wolfpack Theory</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282381-the-chieftains-own-guide-to-surviving-wot/" target="_blank">The Chieftain's Own Guide to Surviving WoT</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282478-detail-page-use-of-cover/" target="_blank">The Chieftain's Use of Cover</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/310149-lerts-guide-to-focus-firing-or-how-to-help-your-team-win-the-battle/" target="_blank">Focus Your Fire</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/228710-anatomy-of-a-capture-defense/" target="_blank">Anatomy of Capping</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/369768-when-to-cap-and-when-not-to/" target="_blank">When to Cap</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/284733-lerts-guide-to-picking-your-fights/" target="_blank">Picking Your Fights</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/300479-lerts-guide-to-killing-unicums/" target="_blank">Fighting Better Players</a></p>
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='scouting'">Scouting</button>
    <div class="indent" ng-show="linkView=='scouting'">
    	<p><a href="http://www.worldoftanksguide.com/combat-scouting-guide.shtml" target="_blank">Scouting Guide</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/352758-want-to-win-more-scouting-introduction/" target="_blank">Scouting Introduction</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/122753-absolute-beginners-guide-to-being-a-tier-4-scout-in-a-tier-9-match/" target="_blank">Scouting in a High Tier Match</a></p>
        <p><a href="https://www.youtube.com/watch?v=w_8c1yN_B0A" target="_blank">Become a Better Scout (video)</a></p>
        <p><a href="https://www.youtube.com/watch?v=XEG4jyGGXm4" target="_blank">Become a Spotter (video)</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/353430-want-to-win-more-passive-scouting/" target="_blank">Passive Scouting</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/354671-want-to-win-more-active-scouting/" target="_blank">Active Scouting</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/354952-want-to-win-more-scout-shooting-roles/" target="_blank">Scouting Roles</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/355395-want-to-win-more-scouting-wrap-up/" target="_blank">Scouting Wrap-up</a></p>
        
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='cheftain'">The Chieftain</button>
    <div class="indent" ng-show="linkView=='cheftain'">
    	
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282381-the-chieftains-own-guide-to-surviving-wot/" target="_blank"> Guide to Surviving WoT</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282478-detail-page-use-of-cover/" target="_blank">Use of Cover</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282525-detail-page-artillery/" target="_blank">Artillary</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/283511-detail-page-armour-angles/" target="_blank">Armour Angles</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/283233-detail-page-depression-angle/" target="_blank">Depression Angle</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282521-detail-page-fighting-positions/" target="_blank">Fighting Positions</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282511-detail-page-gun-characteristics/" target="_blank">Gun Characteristics</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282505-detail-page-concentration-of-fire/" target="_blank">Concentration of Fire</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282513-detail-page-stabilisation-systems/" target="_blank">Stabilisation Systems</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282473-detail-page-spotting-mechanics/" target="_blank">Spotting Mechanics</a></p>
        <p><a href="http://worldoftanksxbox360edition.com/en/content/about/game-guides/capture-the-base/" target="_blank">Capture the Base: When Firepower Isn't Everything</a></p>
		<p><a href="http://worldoftanksxbox360edition.com/en/content/about/game-guides/learning-your-environment/" target="_blank">Learning Your Environment: Using the Map Tactically</a></p>
        <p><a href="http://worldoftanksxbox360edition.com/en/content/about/game-guides/your-first-30-seconds/" target="_blank">Your First 30 Seconds: Preparing for Tank Battles</a></p>
        
    </div>
    
    
    <button type="button" class="button tiny" ng-click="linkView='tanks'">Tanks</button>
    <div class="indent" ng-show="linkView=='tanks'">
    	<p><a href="http://forum.worldoftanks.com/index.php?/topic/251985-about-vehicle-types-roles-and-playstyle/" target="_blank">Vehicle Types, Roles and Playstyle</a></p>
        <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/19293-understanding-light-tanks/" target="_blank">Understanding Light Tanks</a></p>
        <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/21033-understanding-medium-tanks/" target="_blank">Understanding Medium Tanks</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/386429-want-to-win-more-equipment/" target="_blank">Equipement</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/391556-want-to-win-more-weak-points/" target="_blank">Weak Points</a></p>
    	<p><a href="http://worldoftanksxbox360edition.com/en/news/chieftains-hatch/The_Chieftains_Guide_Armor_Angles/" target="_blank">Chieftain's Guide - Armor Angles</a></p>
        <p><a href="http://www.worldoftanksguide.com/cgi-bin/tank_analyzer.cgi/" target="_blank">Tanks Weak Spot Analyzer</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/49967-for-people-that-would-like-to-learn-frontal-tank-weakspots/" target="_blank">Frontal Tank Weakspots</a></p>
        <p><a href="http://tank-compare.com/en/" target="_blank">Vehicle Comparison Analyzer</a></p>
        <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/22889-the-anti-at-series-definitive-anti-tank-guide/" target="_blank">How to Kill and AT</a></p>
        <p><a href="http://wiki.wargaming.net/en/Tactics:_Sidescraping_and_Reverse_Angling" target="_blank">Sidescraping and Reverse Angling</a></p>
        <p><a href="http://taugrim.com/2013/04/27/guide-to-angling-in-world-of-tanks/" target="_blank">Guide to Angling</a></p>
    </div>
    
     <button type="button" class="button tiny" ng-click="linkView='crew'">Crew</button>
    <div class="indent" ng-show="linkView=='crew'">
    	<p><a href="http://worldoftanksxbox360edition.com/en/content/about/game-guides/crew-tutorial/" target="_blank">Unsung Heroes: Crews Tutorial</a></p>
    	<p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/110/28/what-is-a-crew-and-how-do-i-gain-crew-xp" target="_blank">What is a Crew and How do I Gain Crew XP?</a></p>
       <p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/120/28/can-i-transfer-my-crew-between-tanks" target="_blank">Can I Transfer my Crew Between Tanks?</a></p>
       <p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/117/28/what-is-crew-experience-and-what-is-it-used-for" target="_blank">What is Crew Experience and What is it Used For?</a></p>
       <p><a href="http://forum.worldoftanks.com/index.php?/topic/109129-fatkiddowns-guide-to-skills-perks/" target="_blank">Guide To Skills &amp; Perks</a></p>
       <p><a href="http://worldoftanks.com/en/content/guide/general/guide-how-use-perks-and-skills/" target="_blank">How To Use Perks &amp; Skills</a></p>
       
       <p><a href="http://www.wotinfo.net/en/noobcorner?article=skills_and_perks/" target="_blank">WOTLABS.NET Crew Skills and Perks</a></p>
       <p><a href="http://wotlabs.net/articles/crew-skills-perks-unicum/" target="_blank">WOTLABS.NET Skill and Perks Guide</a></p>
       <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/29437-skillperk-description-suggestion/page__fromsearch__1" target="_blank">MaxChaos24 Skills/Perks Descriptions</a></p>
       <p><a href="http://forum.worldoftanks.com/index.php?/topic/109129-fatkiddowns-guide-to-skills-perks/" target="_blank">fatkiddowns Guide to skills and Perks</a></p>
       <p><a href="http://worldoftanks.com/en/content/guide/general/guide-how-use-perks-and-skills/" target="_blank">How To Use Perks &amp; Skills</a></p>
       <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/30722-crew-training%E2%80%94observations/" target="_blank">Crew Training on XBOX — Observations</a></p>
    </div>
    
    
    <button type="button" class="button tiny" ng-click="linkView='mechanics'">Game Mechanics</button>
    <div class="indent" ng-show="linkView=='mechanics'">
    	<p><a href="http://forum.worldoftanks.com/index.php?/topic/304916-lerts-guide-to-being-the-invisitank-camouflage-and-spotting-basics/" target="_blank">Camo and Spotting Basics</a></p>
    	<p><a href="https://www.youtube.com/watch?v=5ML4oXjG6ag" target="_blank">Explaining Mechanics - Camo (Video)</a></p>
        <p><a href="https://www.youtube.com/watch?v=wq5S8CrsUig" target="_blank">Explaining Mechanics - Penetration (Video)</a></p>
        <p><a href="http://worldoftanksxbox360edition.com/en/content/about/game-guides/how-penetration-mechanics-work/" target="_blank">How Penetration Mechanics Work</a></p>
        <p><a href="http://www.worldoftanksskins.com/world-of-tanks-tips/world-of-tanks-radio/" target="_blank">How Radio Works</a></p>
        <p><a href="http://wiki.wargaming.net/en/Gunnery_%26_Armor_Penetration_(WoT)#Automatic_Aiming" target="_blank">Gunnery &amp; Armor Penetration</a></p>
        <p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/108/28/what-is-ammo-and-how-does-it-work" target="_blank">What is Ammo and How Does It Work?</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/273627-lerts-guides-to-shells-shell-types-and-shell-mechanics/" target="_blank">Shell Types</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282473-detail-page-spotting-mechanics/" target="_blank">Spotting Mechanics</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282513-detail-page-stabilisation-systems/" target="_blank">Stabilisation Systems</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/282511-detail-page-gun-characteristics/" target="_blank">Gun Characteristics</a></p>
       	<p><a href="http://forum.worldoftanks.com/index.php?/topic/283233-detail-page-depression-angle/" target="_blank">Depression Angle</a></p>
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='credits'">XP &amp; Credits</button>
    <div class="indent" ng-show="linkView=='credits'">
    	<p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/47986-frogmans-guide-to-silver-in-world-of-tanks/page__p__760245/" target="_blank">Frogman's Guide to Silver</a></p>
        <p><a href="http://forum.worldoftanksxbox360edition.com/index.php?/topic/41238-battle-mechanics-experience-and-credits-pc-vs-xbox-360-edition/page__pid__651274#entry651274" target="_blank">XP &amp; Credits</a></p>
    </div>
    
    
    <button type="button" class="button tiny" ng-click="linkView='xbox'">XBOX Live</button>
    <div class="indent" ng-show="linkView=='xbox'">
    	<p><a href="http://wotoff.createaforum.com/forum-questions-and-help/how-to-clear-the-cache-and-defrag-your-xbox/" target="_blank">Clear Cache and Defrag WoT</a></p>
    	<p><a href="https://support.xbox.com/en-US/xbox-live-status" target="_blank">XBOX Live Status</a></p>
        <p><a href="https://downdetector.com/status/xbox-live" target="_blank">XBOX Problems Report</a></p>
        <p><a href="http://support.xbox.com/en-US/xbox-360/networking/slow-performance-solution" target="_blank">Lag and Slow Performance</a></p>
        <p><a href="http://www.speedtest.net/" target="_blank">SpeedTest</a></p>
    	<p><a href="http://wotoff.createaforum.com/general-board/xbox-live-disconnections-during-wot-fix-included/" target="_blank">XBOX Live Disconnect Fix</a></p>
        <p><a href="http://forum.worldoftanks.com/index.php?/topic/259689-why-there-is-no-real-hacking-in-wot/" target="_blank">Why There Is No Real Hacking in WoT</a></p>
        <p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/136/27/how-to-reset-game-profile-settings" target="_blank">How to Reset Game Profile Settings</a></p>
        <p><a href="https://support.worldoftanksxbox360edition.com/Knowledgebase/Article/View/51/27/my-accessories-are-not-working-with-world-of-tanks-xbox-360-edition" target="_blank">My Accessories Are Not Working with WoT Xbox 360</a></p>
    </div>
	
	
</div>
