<div class="leftColumn">
	<h5>Reference</h5>
	<div class="sideMenu">
		<button type="button" class="button tiny" ng-click="goTo('reference.links')">Web Sites</button>
		<button type="button" class="button tiny" ng-click="goTo('reference.utube')">YouTube</button>
		<button type="button" class="button tiny" ng-click="goTo('reference.strategy')">Tips and Guides</button>
		<button type="button" class="button tiny" ng-click="goTo('reference.perks')">Skills and Perks</button>
		<button type="button" class="button tiny" ng-click="goTo('reference.maps')">Map Strategy</button>
		<button type="button" class="button tiny" ng-click="goTo('reference.glossary')">Glossary</button>
	</div>
	<div><img src="images/tak.jpg"></div>
</div>
<div class="fixed content" ui-view>
		<h2>Knowing is Half the Battle</h2>
		<p class="attention">Share your knowledge! See the Contribute tab for more information.</p>
		<img src="images/tankid.jpg" height="476" width="640">
</div>
