<h4>Tanks</h4>
<p>Test of the WoT API</p>
<button id="getBtn" type="button" class="button small" ng-click="getVehicles()">GET</button>
<div ui-view>
	<div style="width:200px;">
		<select id="selectVehicle" ng-model="selectedVehicle" ng-options="c.name_i18n for c in vehicles" ng-change="selectVehicle(selectedVehicle)" ></select>
	</div>
	<img src={{selectedVehicle.image}}>
	<h5>{{selectedVehicle.name_i18n}}</h5>

	<table st-table="vehicleDetails" class="table table-striped">
		<thead>
		<tr>
			<th>Item</th>
			<th>Detail</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in vehicleDetails">
			<td>{{row.item}}</td>
			<td>{{row.detail}}</td>
		</tr>
		</tbody>
	</table>

</div>
<div class="refList" ng-show=false>
	<button type="button" class="button tiny" ng-click="linkView='general'">TOG</button>
    <div class="indent compact" ng-show="linkView=='general'">
    	<p><a href="http://forum.worldoftanks.com/index.php?/topic/188800-lerts-guide-to-the-tog-ii/" target="_blank">Basic TOG II Guide</a></p>
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='kv2'">KV-2</button>
    <div class="indent" ng-show="linkView=='kv2'">
    	<p><a href="http://forum.worldoftanks.com/index.php?/topic/352092-kv-2-overview-and-guide/" target="_blank">Overview and Guide</a></p>
    </div>
    
    <button type="button" class="button tiny" ng-click="linkView='kv2'">M4A3E2 Jumbo Sherman</button>
    <div class="indent" ng-show="linkView=='kv2'">
    	<p><a href="https://www.youtube.com/watch?v=GljV5ry_fKU" target="_blank">Tips (video)</a></p>
    </div>
    
   
	
</div>