
	<div class="leftColumn">
		<h5>Commander</h5>
		<select id="selectCommander" ng-model="selectedCommander" ng-options="c.label for c in commanderList" ng-change="selectCommander(selectedCommander)" ng-show=!editMode></select>
		<p ng-show=editMode>{{gamerTag}}</p> 
		<h5>Battlefield</h5>
		<select id="selectMap" ng-model="selectedMap" ng-options="c.label for c in mapList" ng-change="selectMap(selectedMap)" ></select>
		<div class="radioGroup">
			<p><input type="radio" ng-model="showLayer" value="I" ng-change="filterMapLayers()">  Strategy I</p>
			<p><input type="radio" ng-model="showLayer" value="II" ng-change="filterMapLayers()">   Strategy II</p>
			<p><input type="radio" ng-model="showLayer" value="III" ng-change="filterMapLayers()">   Strategy III</p>
			<p><input type="radio" ng-model="showLayer" value="IV" ng-change="filterMapLayers()">   Strategy IV</p>
		</div>
		

		<div class="submitForm">
			<p class="smallNote" ng-show="formstate.visible">Choose Strategy Number and Tank Number then click on the map to add.</p>
			
			<select id="selectType" ng-model="selectedTank" ng-options="c.label for c in tankList" ng-change="selectTankType(selectedTank)" ng-show="formstate.visible"></select>
			<button id="addMarker" ng-click="saveMarker()" type="button" class="button small" ng-show="formstate.role=='saveMarker'">Save</button>
			<button id="reject" ng-click="rejectForm()" type="button" class="button small" ng-show="formstate.role=='saveMarker'">Reject</button>
			<button id="cancelForm" ng-click="cancelForm()" type="button" class="button small" ng-show="formstate.role=='placeMarker'">Cancel</button>
			<button id="showform" ng-click="showForm()" type="button" class="button small" ng-show="!formstate.visible && formstate.role!='deleteMarker'">Add Position</button>
			<button id="delete" ng-click="deleteMarker()" type="button" class="button small alert" ng-show="formstate.role=='deleteMarker'">Delete</button>
			<button id="canceldelete" ng-click="cancelDelete()" type="button" class="button small" ng-show="formstate.role=='deleteMarker'">Cancel</button>
			<button id="helpBtn" ng-show="!formstate.visible && formstate.role!='deleteMarker' && showHelp==false" class="button small" ng-click="toggleHelp()">HELP</button>
		</div>
	</div>

	<div kinetic-platoon class="canvasContainer" formstate="formstate" is-editable="yes" id="mapdisplay"></div>

	<div ng-show="showHelp!=true">
		<div class="mapNotes">
			<h1>{{selectedMap.label}}</h1>
			<h2>Platoon Strategy</h2>
			<p>by {{selectedCommander.value}}</p>
			<h3>Strategy {{selectedStrategy}}</h3>
			<p>{{strategyComment}}</p>
			<h2>Add or update comment</h2>
			<form name="addCommentForm" ng-submit="submitComment()" novalidate>
				<textarea id="newComment" ng-model="strategyUpdate"></textarea>
				<button type="submit" class="button small">Submit</button>
			</form>
			
		</div>
	</div>
<div class="mapNotes" id="help" ng-show="showHelp==true">
	<h1>HELP</h1>
	<p>The purpose of these strategies is set an objective and show where members of the platoon should position themselves at the beginning of the battle.</p>
	<p>Enter your notes at this <a href="http://bluewaveproduction.com/off_forum/" target="blank">forum</a>.  Notes will not show up immediately.</p>
	<p>Instructions:</p>
	<ul>
		<li>1. Choose Commander and Battle Field</li>
		<li>2. Select the Strategy Number. Four strategies are available for each map, roughly one for each quadrant, however there are no restrictions to where a marker can be placed.</li>
		<li>3. Click the Add Position button.</li>
		<li>4. Select Tank number (1-4).  There are 4 tanks to set a position for.</li>
		<li>5. Click on the map to position the marker.</li>
		<li>6. Click Save to keep, or click Reject to try again.</li>
		<li>7. To Delete a saved marker, click on it, then click Delete.</li>
	</ul>
	<button id="helpBtn" ng-show="!formstate.visible && formstate.role!='deleteMarker'" class="button small" ng-click="showHelp=false">CLOSE</button>
</div>