
<div class="mobilecontent">
	
	<h4>{{titleDisplay}}</h4>
	
    <div ng-show="signedIn==false">
		<button class="button" ng-click='toggleModal()'>Sign In</button>  
	</div>
    <div class="gridrow" ng-show="signedIn==true" >
    	<div event-menu-item title="{{e.title}}" imgsrc="{{e.photo}}" class="col-1-4 eventItemGrid"
      		ng-click="showEventPage(e.PRIMARY_ID)" ng-repeat="e in eventsDataResult">
        </div>
    </div>
    <sign-in-modal show='modalShown'>
       <form name="userForm" ng-submit="submitSignIn(userForm.$valid)" novalidate>
            <label style="font-size:14px; font-weight:bold">Log In</label>
            <div class="form-group">
                <label>Gamertag</label>
                <input type="text" name="name" class="form-control" placeholder="XBL Gamertag" ng-model="signInTag" required>
                <h3 class="attention" ng-show="userForm.name.$invalid && submitted">Gamertag is required.</h3>
                <h3 class="attention" ng-show="signInResult=='FAIL_gamer'">Gamertag not found.</h3>
            </div>
            
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="signInPword" required>
                <h3 class="attention" ng-show="signInResult=='FAIL_password'">Password incorrect.</h3>
                <h3 class="attention" ng-show="userForm.password.$invalid &&  submitted">Pasword is required.</h3>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
    	</form>
    </sign-in-modal>

	
</div>
