@charset "utf-8";
.view{
	position:absolute;
 	left:0;
 	top:113px;
  bottom:0;
  width: 100%;
  color:#000000;
}

.content{
 	position:absolute;
	top:1px;
	left:151px;
	right: 0;
  	bottom:0;
	margin-left: 10px;
	margin-top: 10px;
	width: 100%
}

.mobilecontent{
  max-width:1000px; 
  margin:10px 5px 0 5px; 
  padding:0 20px 0 20px;
}

@media all and ( min-width: 500px ) {
	
}

@media all and ( min-width: 700px ) {
	
}

@media all and ( min-width: 1000px ) {
	
}



.noMarginNoPad{
  margin:0;
  padding: 0;
}

.fixed{
	width:70%;
}

.content h4{
	margin-top: 0;
	padding-top: 0;
}

.left{
	float:left;
}

.right{
  float:right;
}

.content a{
  color: #0000FF;
}

a:hover, a:focus {
    color: #FF0000; 
}

.topic{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.content .submitForm {
  color:#000000;
}

.content .submitForm form label{
  color:#000000;
}

.content .submitForm form .col1{
 	width: 50%;
 	float: left;
 	padding-right: 5px;
}

.content .submitForm form .col2{
 	width: 50%;
 	float: right;
 	padding-left: 5px;
}

.content .smallNote{
  color: #000000;
  font-size: .8em;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
}

.content .singleLineSmall{
  clear:both;
}

.content .singleLineSmall p{
  color: #000000;
  font-size: .8em;
  padding:0;
  margin:0;
  text-align: left;
}

.content .footer{
	color:#000000;
	right: 2em;
}

.content .footer p{
	font-size: .7em;
}

.alternatingBlockA{
  background-color:#a4ae7b;
  padding: 1em;
  margin: 0;
}

.alternatingBlockB{
  background-color:#c8ceb0;
  padding: 1em;
  margin: 0;
}

details{
  margin:.5em 0 .5em 0;
}

details, summary{
  padding: .2em 0 .2em 0;
}

details p{
  font-size: .8rem;
  margin:.7rem 0 .4rem 0;
  padding: 0;
}

.glossaryBtnRow{
  height:40px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.glossaryBtnRow button.tiny, .button.tiny{
  height:40px;
  float:left;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.accordion{
  line-height: 1em;
}

.accordion .reveal {
    display: none;
    padding: 0.9375rem; }
    .accordion .content.active {
      display: block;
      background: white; }



/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; }
summary:hover, summary:focus { background: #ddd; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { display: none; }
/* This doesn’t work very well in Firefox 3.6.x */
/* .no-details details[open] > * { display: block; } */
/* The following doesn’t toggle correctly in WebKit:
.no-details details > summary:before { content: '► '; }
.no-details details[open] > summary:before { content: '▼ '; }
*/
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary:before { content: '▼ '; }
/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
/* I really couldn’t be bothered though. */
/*
.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
.no-details details.open > summary { background-position: 0 -20px; }
*/
/* Make sure summary remains visible */
.no-details details summary { display: block; }

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.tableBtnRow{
  height:40px;
  width: 500px;
}

.tableBtnRowLeft{
  height:40px;
  float:left;
  width: 70px;
  margin-left: 5px;

}

.tableBtnRowRight{
  height:40px;
  float:right;
  width: 70px;
  margin-left: 5px;

}

.floatLeft{
  float:left;
  margin-right:20px;
}

.floatLeftRadio{
  clear:both;
}

.floatLeftRadio p{
  float:left;
  margin-right:20px;
  margin-bottom: 0;
}

.floatLeftRadio .labeltxt{
  float:left;
  margin-right:20px;
  margin-bottom: 0;
}

.hiliteBox{
	border:1px solid #333333;
	background-color:#2D352A;
	color:#FFFFFF;
	padding:5px 5px 5px 5px;
}

.hiliteBox p{
	font-size:.9em;
	color:#FFFFFF;
}

.hiliteBox .title{
	font-size:14px;
	color:#FD9208;
}

.hiliteBox a:link{
    color: #FFFFFF;
	font-size:.9em;
}

.hiliteBox a:visited{
    color: #ffd396; 
}

.hiliteBox a:hover, a:focus {
    color: #FD9208; 
}


